body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ellipse {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

:root {
  --color-background: #ffffff;
  --color-background-active: #263857;
  --color-border: #999999;
  --color-text: #000000;
  --color-text-hover: #263857;
  --color-text-active: #eeeeee;

  --font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}
