.grid-container {
  display: grid;
  height: 100vh;
  grid-template-rows: 6.5rem 1fr 3rem;
  grid-template-columns: 1fr;
  -ms-grid-rows: 6.5rem 1fr 3rem;
  -ms-grid-columns: 6.5rem 1fr 3rem;
}

.grid-container section {
  padding: 1rem;
}

.grid-container footer {
  color: var(--color-text-active);
  font-size: 1rem;
  text-align: center;
  line-height: 3rem;
  background-color: var(--color-background-active);
}

.wrap {
  margin-top: 1rem;
}

.logo {
  height: 2rem;
  margin-left: 3px;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: bolder;
  font-family: var(--font-family);
  text-shadow: 1px 1px #676b70;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
