.root {
  max-width: 500px;
  height: 250px;
}

.wrap__title {
  display: flex;
  height: 130px;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.media {
  flex-grow: 0;
  flex-basis: 240px;
  height: 120px;
  box-sizing: border-box;
  margin: 0px 5px;
  background-size: contain !important;
}

.title {
  flex-grow: 2;
}

.wrap__content {
  height: 120px;
  padding: 5px;
  box-sizing: border-box;
}

.content {
  height: 100%;
  box-sizing: 100%;
  /* 
    https://www.w3schools.com/cssref/css3_pr_text-overflow.asp
    text-overflow 속성 사용시 white-space, overflow를 사용해야 한다.
    다른 방법은 없을까 생각해보아야 한다.
   */
}
